common --enable_bzlmod
common --watchfs

# Setup hermetic cc toolchain
common --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
common --incompatible_enable_cc_toolchain_resolution
common --features=-libtool
common --host_features=-libtool

common --enable_platform_specific_config
common:linux --sandbox_base=/dev/shm

common --nolegacy_external_runfiles
common --reuse_sandbox_directories
common --noexperimental_action_cache_store_output_metadata
common --sandbox_default_allow_network=false
common --incompatible_strict_action_env
common:linux --incompatible_sandbox_hermetic_tmp
test --incompatible_exclusive_test_sandboxed

common:macos --spawn_strategy=darwin-sandbox
common:linux --spawn_strategy=linux-sandbox
common --strategy=CopyFile=local
common --strategy=CopyDirectory=local
common --strategy=CopyToDirectory=local

common --lockfile_mode=off

common:workflows --remote_download_minimal
common --nobuild_runfile_links
common --experimental_worker_for_repo_fetching=platform

# Catch busted globs
common --incompatible_disallow_empty_glob

common --noexperimental_check_output_files
common --noexperimental_check_external_repository_files

startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

test --test_output=errors
test --experimental_fetch_all_coverage_outputs
common --heap_dump_on_oom
common --experimental_allow_tags_propagation
